<link rel="stylesheet" href="/stylesheets/footer.css">
<section class="content-footer">
    <div class="container-footer">
        <h3>Formulário de contato</h3>
        <form class="form", method="POST", action="/send-email">
            <input class="field", name="name", type="text", placeholder="Nome" />
            <input class="field", name="email",type="text", placeholder="E-mail" />
            <textarea class="field txt-area" name="message", cols="30", rows="10", placeholder="Digite uma mensagem aqui"></textarea>
            <input class="field", type="submit", value="Enviar" />
        </form>
    </div>
</section>
