extends layout

block content
  link(rel='stylesheet', href='/stylesheets/itens.css')
  div(class="containeri")
    div(class="card")
      h3 Pedro Henrique da Silva Pereira
      br
      p Atualmente estou inscrito no curso de Engenharia de Software e estou matriculado no 7° período na instituição
        a(href="http://www.utfpr.edu.br/campus/cornelioprocopio")
          img(class="img-nd" src="http://portal.utfpr.edu.br/icones/cabecalho/logo-utfpr/@@images/efcf9caf-6d29-4c24-8266-0b7366ea3a40.png")
    div(class="card")
      h3 Emprego
      br
      p No 5° período entrei como estagiário na empresa Prime Control
        a(href="https://www.primecontrol.com.br/")
          img(class="img-nd" src="https://www.primecontrol.com.br/wp-content/uploads/2020/01/S%C3%ADmbolo-Prime-Control-2020.ico")
      p foi aceito para a área de tecnologia e inovação, onde fico responsável pela parte de automação de testes, predição de construção de métricas.
    div(class="card")
      h3 Outros Links
      br
      ul
        li.item
          a(href="https://www.primecontrol.com.br/") Git-Hub
            img(class="img-nd" src="https://cdn-icons-png.flaticon.com/512/25/25231.png")
        li.item
          a(href="https://www.primecontrol.com.br/") Linkedin
            img(class="img-nd" src="https://cdn.icon-icons.com/icons2/3041/PNG/512/linkedin_logo_icon_189225.png")
        li.item
          a(href="https://www.primecontrol.com.br/") Git-Lab
            img(class="img-nd" src="https://about.gitlab.com/images/press/logo/png/gitlab-icon-rgb.png")
      