extends layout
block content
  link(rel='stylesheet', href='/stylesheets/itens.css')
  div(class="containeri")
    div(class="card")
      form(class="form", method="POST", action="/configuracao")
        div(class="row it-login")
          h3 Gerênciando conta logada 
          label Alterar nome de exibição da conta
          input(class="field", name="name", id="idName" type="text", value="#{usuario.name}")
          input(class="field btn btn-primary", type="submit" value="Alterar", name="alt")