extends layout

block content
  div(class="wrapper")
    div(id="logo")
      //h1(id="title")= title
      p(id='title-desc') Welcome to #{title}
    div(id="conteudo")
      h2 Projeto - Ponto Max
      textarea(id="txtArea", cols="60", rows="10" maxlength=1000) O objetivo deste projeto é estar concretizando na disciplina de programação web 2 a construção de uma aplicação para controle de ponto para empreses. Inicialmente as funções implementadas seram controle de usuários e pontos onde o objetivo é cadastrar, editar, buscar e excluir esses dois objetos.