doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/cv.css')
  body
    block navbar
      div(class="container")
        div.navbar
          ul.col-md-12.row.itemul.ul
            a(href="/")
              li.col-md-3.itemul 
                img(src="/images/logo.png")
            a(href="/sobre")
              li.col-md-3.itemul Projeto
            a(href="/tecnologias")
              li.col-md-3.itemul Tecnologias
            a(href="/autor")
              li.col-md-3.itemul Autor
            a(href="/configuracao")
              li.col-md-3.itemul Configuração
            if typeof(usuario.name) !== 'undefined'
              li.col-md3.itemul #{usuario.name}
              a(href="/logout", name="logout")
                li.col-md-3.itemul Logout 
            else
              a(href="/login", name="login")
                li.col-md-3.itemul Login
    block error
      if error
        div(class="alert alert-danger alertGeral")
          strong #{error}   
    block content
     
    block footer
      include footer