<%-include ('./partials/navbar')-%>
<link rel='stylesheet', href='/stylesheets/itens.css'>
<div class="containeri">
    <div class="card">
        <h3>Motivação</h3>
        <br />
        <p>Com o novo meio de trabalho home ofice adotado por muitas empresas, pelo estado atual da conjuntura da sociedade fez-se necessário uma maneira para que as empresas e responsáveis pelos funcionários controlar e saber minimamente se os horários para o mesmo estão sendo cumpridos.</p>
        <p>Para tal foi idealizado uma plataforma onde esse controle pode ser realizado, e além disso será possível solicitar alteração nos ponto que foram batidos em atraso.</p>
    </div>
    <div class="card">
        <h3>Solução proposta</h3> 
        <br />
        <p>O projeto proposto, tem como objetivo inicial estar possibilitando que um usuário se cadastre, e apartir deste usuário cadastrado, este possa estar conseguindo gerênciar sua conta e também está realizando a "batida de ponto" que representa o horário que o mesmo entrou e saiu.</p>
        <p>Sendo a configuração desse ponto com duas entradas e duas saida, pois no primeiro turno o usuário desempenha em torno de 3 a 4 horas, faz sua pausa para almoço e volta com mais uma entrada e mais uma saida.</p>
    </div>
    <div class="card">
        <h3>Descrição do objetivo do projeto Ponto-Max</h3>
        <br />
        <p>O projeto Ponto-Max, tem o objetivo inicial de auxiliar funcionários e suas empresas no monitoramento e controle dos horários em que deve ser cumprida as atividades das partes envolvidas.</p>
        <p>Pois préviamente já é estipulado entre as parte que o horário do funcionário pode ser mais flexivel ou deve seguir mais a risca.</p>
    </div>
</div>
<%-include ('./partials/footer')-%>