extends layout

block content
  div(class="container")
    a(id='btn-back' type="button" class="btn btn-primary" href='/') Voltar
    h1(id="title")= title
    p(id='title-desc') Welcome to #{title}
    div(id="content")
      div(id="v-card" class="card")
        div(class="row")
          div(class="utf")
            p UTFPR - Cornélio Procópio
            br
            p Aluno: Pedro Henrique da Silva Pereira
            br
            p Curso : 65 - Bach Eng De Software
            br
          div(class="utf")
            p Turno: Noite
            br
            p ingresso: 2/2018
            br
        div(class="row")
          div(class="utf")
            p Matriz: 138
            br
            p Coeficiente Absoluto: 0,8887
            br
            p Coeficiente Normalizado: 0,6447
            br
          div(class="utf")
            p Período: 7
            br
            p Situação: Regular
            br
            p Data da colação: --/--/----
            br
      div(class="desc")
        ul ET10S - Estágio

      div(class="desc")
        ul IF66K - Oficina De Integração 2

      div(class="desc")
        ul IF67H - Programação Para Dispositivos Moveis

      div(class="desc")
        ul IF671 - Programação Web 2

      div(class="desc")
        ul IF67K - Arquitetura De Software

      div(class="desc")
        ul IF67L - Trabalho De Conclusão De Curso 1
      