extends layout

block content
  link(rel='stylesheet', href='/stylesheets/cv.css')
  div(class="container")
    div(id="v-card" class="card")
      ul.tecs Tecnologias utilizadas no projeto:
        a(href="https://expressjs.com/")
          li.item Express 
            img(class="img-exp" src="https://cdn.buttercms.com/2q5r816LTo2uE9j7Ntic")
        a(href="https://nodejs.org/en/")
          li.item Nodejs
            img(class="img-nd" src="https://cdn-icons-png.flaticon.com/512/919/919825.png")
        a(href="https://jade-lang.com/")  
          li.item Jade
            img(class="img-jd" src="https://miro.medium.com/max/800/1*rLTIYJhDxLzo1ztJ1Hrrhw.png")
         