extends layout

block content
  div(class="container")
    a(id='btn-back' type="button" class="btn btn-primary" href='/') Voltar
    h1(id="title")= title
    p(id='title-desc') Welcome to #{title}
    div(class="row")
      dic(class="col-md-12 col-sm-12 col-xs-12")
        div(id="v-card" class="card")
          img(id="img-perf" src="/images/perfil.jpg", alt="")
          div(id="content")
            h2 Pedro Pereira
            p Software Engineer
            p email@outlook.com
            p 14 95645-3354
            P Alvares Machado São Paulo
        div(class="desc")
          p Formação
          p Ensino médio: Etec Professor Massuyki Kauano
          p Ensino Superior: UTFPR - Cornélio Procópio

        div(class="desc")
          p Empregos
          p Estagio - Prime Control (Tester)

        div(class="desc")
          p Conhecimentos
          p Nodejs
          p Python 
          p Sql
          p Java