#img-perf {
  border-radius: 50%;
  width: 160px;
  height: 160px;
}

.row{
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}

h2, p {
  color: white;
}

.itens{
  display: inline;
}

#icons-lk{
  border-radius: 30%;
  width: 55px;
  margin: 5px;
}

#icons-tt{
  border-radius: 30%;
  width: 60px;
  height: 55px;
  margin: 5px;
}

#icons-gh{
  border-radius: 30%;
  width: 55px;
  margin: 5px;
}

#v-card{
  margin-top: 10vh;
  background-color: lightseagreen;
  border-radius: 5%;
  padding-top: 5%;
}

#content{
  align-items: center;
  text-align: center;
}

.desc{
  margin-left: 15%;
  margin-right: 15%;
  position: relative;
  align-items: center;
  text-align: center;
  border-radius: 5%;
  margin-top: 2vh;
  background-color: lightseagreen;
}

.utf{
  margin:5%;
  align-items: initial;
  text-align: left;
}

.utf p{
  font-size: 13pt;
}