* {
    padding:0px;
    margin:0px;
}

.content-footer{
    display: flex; 
    justify-content: center;
    background-color: lightseagreen;
    max-height: 500px;
    padding-top: 3%;
    padding-bottom: 5%;
    margin-top: 100px;
    margin-bottom: 5px;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
    z-index: 1;
}

.container-footer{
    flex-grow: 1;
    width: 100%; 
    max-width: 500px;
}

.form{
    display: flex;
    flex-direction: column;
}

.field{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.txt-area{
    height: 150px;
    margin-left: 24px;
    margin-bottom: 15px;
    border: 1px solid #DDD;
    resize: none;
}