.containeri {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr; /* fraction*/
    padding: 4%;
}

.container-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4%;
}

.card{
    width: 400px;
    max-width: 400px;
    margin-top: 10vh;
    margin-left: 5vw;
    background-color: lightseagreen;
    border-radius: 5%;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

.it-login{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-login{
    width: 20vw;
    max-width: 600px;
    height: 400px;
    max-height: 700;
    margin-top: 10vh;
    margin-left: 5vw;
    background-color: lightseagreen;
    border-radius: 5%;
    padding-top: 5%;
    padding-right: 15%;
    padding-left: 15%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card:first-child{
    margin-left: 0;
}

h3 {
    color: black;
    font-size: 26pt;
    text-align: center;
}

p, a {
    color: white;
    font-size: 16pt;
}

a:hover{
    color: black;
}

input {
    border-radius: 2rem;
    border-color: lightgray;
}

.alertLogin{
    width: 20vw;
    margin-left: 42%;
    align-items: center;
    text-align: center;
    justify-content: center;
}